<div class="back">
  <div class="container">
    <header class="header-section">
      <h1 class="main-title">HELLO FRESH</h1>
      <h2 class="subtitle">LE BOX à Cuisiner</h2>
      <h3 class="location">Développée en Beni Mellal</h3>
      <p class="description">Recettes simples et délicieuses</p>

      <button (click)="afficherlistrecipe()" class="btn recipe-btn">RECIPE-LIST</button>
    </header>

    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 recipe-card" *ngFor="let recipe of recipesList | slice:0:3">
        <a [routerLink]="['/recipe-detail',recipe.id]" ><img [src]="recipe.img" alt="Recette" class="recipe-img img-fluid rounded shadow"></a>
      </div>
    </div>
  </div>

</div>
